<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>

    <!--文章内容页-->
    <div data-role="page" id="blogcontent" data-add-back-btn="true">
        <div data-role="header">
            <h2>Blog Content</h2>
            <a href="{{ site.baseurl }}" class="ui-btn-right" data-icon="home">Home</a>
        </div>
        <div data-role="content">
            {{ content }}
        </div>
        <div data-role="footer">
            <h4>Copyright &copy; CodingMagic</h4>
        </div>
    </div>

<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</body>

</html>